name: Deploy BackendSoftContable

on:
  push:
    branches:
      - master  # o main según tu repo

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'  # usa la versión que tengas

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet publish -c Release -o publish

    - name: Clean target folder and copy files to VPS
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_KEY }}
        port: 22
        script: |
          # Borrar carpeta publish antigua
          sudo rm -rf /root/BackendSoftContable/bin/Release/net8.0/publish/*
          
          # Crear la carpeta en caso de que no exista
          sudo mkdir -p /root/BackendSoftContable/bin/Release/net8.0/publish/
          sudo chown $USER:$USER /root/BackendSoftContable/bin/Release/net8.0/publish/
    
    - name: Copy files to VPS
      uses: appleboy/scp-action@v0.1.5
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_KEY }}
        port: 22
        source: "publish/*"
        target: "/root/BackendSoftContable/bin/Release/net8.0/publish/"

    - name: Restart Backend service
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_KEY }}
        port: 22
        script: |
          sudo systemctl stop BackendSoftContable
          sudo systemctl daemon-reload
          sudo systemctl start BackendSoftContable
          sudo systemctl status BackendSoftContable
